
.outfit-text{
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: normal;
}

.login-container {
    background-color: none;
    border: 1px solid white;
    stroke-width: 10px;
    padding: 40px;
    border-radius: 12px;
    width: 100%;
    max-width: 300px;

    display: flex;
    flex-direction: column;
    align-items: center;  /* alinha no eixo horizontal */
    justify-content: center; /* opcional, se quiser alinhar verticalmente dentro do container */
    gap: 12px; /* espaço entre os elementos */
    text-align: center;
}
.login-container img{
    height: 4vh;
}

body{
    background:#1E1E1E;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow-y:hidden;
}

.textSimple{
    font-family: "Outfit";
    color: white;
}

b{
    font-weight: 450;
}



.basicLink{
   text-decoration: none;
   color: #00FFE1
}


form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

form input,
form button {
    width: 100%;
}

input:focus{
    outline: none;
    border-color: #00FFE1;
}


input {
    width: 100%;
    padding: 12px;
    margin: 15px 0 5px;
    border: none;
    border-radius: 8px;
    background-color: #3B3B3B;
    color: white;
    font-size: 16px;
}

input::placeholder {
    color: #aaa;
}

.basicBtn {
    padding: 10px 24px;
    background-color: #3B3B3B;
    border: none;
    border-radius: 8px;
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.basicBtn:hover {
    background-color: #00FFE1;
    color: #1E1E1E;
}

.error{
    color: rgb(255, 62, 62);
    margin: 0px 0px 15px;
}